body {
    font-family: "Lucida Console", "Courier New", monospace; /* Requirement-2.1 */
    background-color: #F5dcbd; /* Requirement-2.4 */
    background-image: url("../Assets/papernoise.png");
    background-size: 40%; /* Requirement-2.10 */
    color: black; /* Requirement-2.3 */
    padding: 10pt;
}

a{
    color: black;
}

ul.head { /* Requirement-2.C */
    list-style-type: none;
    margin: 10px; /* Requirement-2.9 */
    margin-bottom: 50px;
    padding: 10px;
    padding-bottom: 0;
    box-sizing: content-box;
    height: 40px;
    overflow: auto; /* Requirement-2.14 */
    border-bottom: thin solid black; /* Requirement-2.5 */
}
  
li.head {
    float: left;
}
  

li.head a { /* Requirement-2.E */
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    border: thin solid black;
    border-bottom: white;
    border-radius: 10px 10px 0 0;
    z-index: 1; /* Requirement-2.17 */
    
}

li.head a:hover {
    background-color: #Eab676;
    border-radius: 10px 10px 0 0;
}

#active { /* Requirement-2.D */
    background-color: #Eab676;
    border-radius: 10px 10px 0 0;
    border-bottom: thin solid #Eab676;
}
ul.foot {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    padding-top:0;
    box-sizing: content-box;
    height: 40px;
    overflow: auto;
    border-top: thin solid black;
}
  
li.foot {
    float: left;
}
  
li.foot a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    border: thin solid black;
    border-top: white;
    border-radius: 0 0 10px 10px;
    
}

li.foot a:hover {
    background-color: #Eab676;
    border-radius: 0 0 10px 10px;
}

figure{
    position: relative; /* Requirement-2.15 */
    margin: 10px;
}
details{ /* Requirement-2.G */
    letter-spacing: 5px; /* Requirement-2.2 */
    font-family: "Papyrus", fantasy;
    font-size: 20pt;
    color: red;
}
summary{ /* Requirement-2.H */
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12pt;
    color: black;
}
details summary{ /* Requirement-2.F */
    color: black;
}

#twix{
    width:500px; /* Requirement-2.7 */
    height:500px;
    float:left; /* Requirement-2.11 */
}
figcaption{
    clear: left; /* Requirement-2.13 */
}

#ffacts li { /* Requirement-2.A */
    list-style: url('../Assets/Octopus.svg');
    list-style: square; /* Requirement-2.8 */
}

ol { 
    list-style-type: upper-roman;
    margin: 10px;
    display: block; /* Requirement-2.12 */
}

#clubsnorgs, tr, td{ /* Requirement-2.B */
    visibility: visible; /* Requirement-2.16 */
}
