/* Add at least one property from each of the following types:

    2. Text: letter-spacing, line-height, text-align, text-decoration, or text-indent
    3. Color: (sets the text color)
    4. Background: background, background-color, background-image, background-position, or background-repeat
    5. Borders: border, border-color, border-width, border-style, border-top, border-top-color, border-top-width, etc.
    7. Sizing: height, max-height, max-width, min-height, min-width, width
    8. Lists: list-style, list-style-image, or list-style-type
    9. Absolute units -- some of the property values should be in terms of absolute numbers
    10. Relative units -- some of the property values should be relative units (such as a percentage)
    11. 'float' layout property
    12. 'display' layout property
    13. 'clear' layout property
    14. 'overflow' layout property
    15. 'position' layout property
    16. 'visibility' layout property
    17. 'z-index' layout property

Required Selectors

    A. Element selector
    B. Grouped element selector
    C. Class selector
    D. ID selector
    E. Pseudo selector -- e.g. on an <a> element
    F. Contextual selector
    G. Details
    H. Summary
Required Comments
One instance of each of the above property/selectors should be 'marked' with a comment, so my program can find your tag.

Your comments should look like this:

selector { /* Requirement-2.Y ::
  property: value;  /* Requirement-2.5 ::
} */

body {
    font-family: "Lucida Console", "Courier New", monospace; /* Requirement-2.1 */
    background-color: #F5dcbd;
    background-image: url("../Assets/Twix.jpeg");
    background-size: cover;
    background-repeat: repeat-y;
    color: black;
    padding: 10pt;
}
a{
    color: black;
}


ul.head {
    list-style-type: none;
    margin: 10px;
    margin-bottom: 50px;
    padding: 10px;
    padding-bottom: 0;
    box-sizing: content-box;
    height: 40px;
    overflow: auto;
    border-bottom: thin solid black;
}
  
li.head {
    float: left;
}
  
li.head a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    border: thin solid black;
    border-bottom: white;
    border-radius: 10px 10px 0 0;
    
}

li.head a:hover {
    background-color: #Eab676;
    border-radius: 10px 10px 0 0;
}
#active {
    background-color: #Eab676;
    border-radius: 10px 10px 0 0;
    border-bottom: thin solid #Eab676;
}
ul.foot {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    padding-top:0;
    box-sizing: content-box;
    height: 40px;
    overflow: auto;
    border-top: thin solid black;
}
  
li.foot {
    float: left;
}
  
li.foot a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    border: thin solid black;
    border-top: white;
    border-radius: 0 0 10px 10px;
    
}

li.foot a:hover {
    background-color: #Eab676;
    border-radius: 0 0 10px 10px;
}


